fastapi
uvicorn[standard]
langchain
langchain-core
langchain-community
langchain-groq
langchain-text-splitters
langchain-chroma
langchain-openai
chromadb
sentence-transformers
python-dotenv
pydantic
pydantic-settings
groq