fastapi
uvicorn[standard]
langchain
langchain-core
langchain-community
langchain-groq
langchain-text-splitters
langchain-google-genai
langchain-qdrant
pypdf
python-dotenv
pydantic
pydantic-settings
groq
qdrant-client>=1.9.0